<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>

    <body>
        {{> header}}
        <h1>About</h1>
        
        <p>THIS IS THE ABOUT PAGE</p>
        {{> footer}}
    </body>
</html>